accelerate==1.12.0
codetiming==1.4.0
datasets==4.5.0
dill==0.4.0
hydra-core==1.3.2
liger-kernel==0.6.4
numpy==1.26.4
pandas==2.3.2
peft==0.18.1
pyarrow==21.0.0
pybind11==3.0.1
pylatexenc==2.10
pre-commit==4.5.1
ray[default]==2.53.0
tensordict==0.9.1
torchdata==0.11.0
transformers==4.57.5
vllm==0.10.0
wandb==0.24.0
openpyxl==3.1.5
packaging==25.0
uvicorn==0.40.0
fastapi==0.128.0
latex2sympy2_extended==1.11.0
math_verify==0.9.0
tensorboard==2.20.0
cvss==3.6
